<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.doublesp.coherence"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- GallerySender -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- LocationSender -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Layer SDK -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.GET_TASKS" android:maxSdkVersion="20"/>

    <permission
        android:name="${applicationId}.permission.LAYER_PUSH"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.LAYER_PUSH"/>

    <application
        android:name="com.doublesp.coherence.App"
        android:allowBackup="true"
        android:icon="@drawable/layer_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        >

        <!-- Activity: List of Conversations -->
        <activity android:name="com.doublesp.coherence.ConversationsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activity: Messages in a Conversation; AddressBar -->
        <activity
            android:name="com.doublesp.coherence.MessagesListActivity"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>

        <!-- Activity: Global app settings -->
        <activity
            android:name="com.doublesp.coherence.AppSettingsActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Activity: Individual Conversation settings -->
        <activity
            android:name="com.doublesp.coherence.ConversationSettingsActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Activity: Resume using provider credentials -->
        <activity
            android:name="com.doublesp.coherence.ResumeActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Receiver: Our app notification handling -->
        <receiver
            android:name="com.doublesp.coherence.PushNotificationReceiver"
            android:permission="${applicationId}.permission.LAYER_PUSH">

            <!-- Layer SDK broadcasts this, which we use to generate notifications -->
            <intent-filter>
                <action android:name="com.layer.sdk.PUSH"/>
                <category android:name="${applicationId}"/>
            </intent-filter>

            <!-- Our app sets this as a PendingIntent to handle user notification swipe-outs -->
            <intent-filter>
                <action android:name="${applicationId}.CANCEL_PUSH"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!-- Services: Layer SDK FCM handling -->
        <service
            android:name="com.layer.sdk.services.LayerFcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.layer.sdk.services.LayerFcmInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
